<!--
The about me view

:: version history ::
1.0 - inital release - jonathan captanis - 15/11/13
1.1 - updated for responsive UI with bootstrap3 - jonathan captanis - 20/01/14
-->
<div>
    <div class="row">
        <div class="col-lg-2">
            <div class="about-nav affix" data-spy="affix"  data-offset-top="100">
                <div class="thumbnail " >
                    <img src="img/jonathan-captanis.jpg">
                    <div class="caption">
                        <h3>Jonathan - Developer</h3>
                        <p>Diving into code often can be as challenging as diving into the depths of the ocean. In either of these situations though, you will find Jonathan maintaining his composer and rising to the challenge in order to develope cutting edge solutions to the complex problems posed by today's massively connected apps.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-offset-3 col-lg-9 about">
            <section data-target="#docnav">
                    <div id="whoami"></div>
                    <h3 class="page-header">Who am I ?</h3>
                    <p>
                        I was told by my first mentor that the best programmers are not made, they are born. From an early age I was pulling apart my toys, wanting to understand how they worked. When I got my first computer, everything I saw, I wanted to know how it was pieced together.
                    </p>

                    <img class="img-responsive" src="img/history.png"/>
                <h3 id="myphilo" class="page-header">My philosophy ?</h3>

                <p>
                I continually strive to expand my toolbox and stay abreast of the trends in the industry. Learning is key to my work-life happiness, and I pride myself on being self motivated while maintaining alignment with business goals. My mentor was a stickler for abstraction, genersism, readability and maintainability, and I have absorbed these traits and worked most of my life in secure environments so i am acutely aware of code security. I dont like to pigeonhole myself to a signal language or technology, rather i pick and choose based on external factors. Being flexible when it comes to solving complex problems with inter-dependencies is a must. Given an 4GL API, past experience tells me it takes 2 weeks to be performing an an intermediate level of coding.

                That said, I am not your typical nerd. I have the ability to communicate effectively with all levels of the organisation as well as the end client. From leading discussions, presentations, meetings, liaising with users to story boarding sessions and hack-a-thons, I can switch swap between my guises in order to communicate my ideas effectively.
                </p>

            <h3 class="page-header">My Trends ?</h3>

            <p>
                Recently I have embraced all facets of the agile development methodology, focusing on Scrum, TDD and have also been won over by UX / User Centred Design philosophy, they are, after all, the reason we are here.
                <br/><br/><br/>
                <i>........... Still want to know more?</i>
            </p>
                <h3 class="page-header">My Story</h3>

                <p>
                    I started out as <i>java</i> programmer in the old <i>1.0</i> days, when you had to create software that sat right on top of <i>primitive OS</i> wrappers (like tcp/ip, mysql, etc). So I understand the internals of how ORMs and Web Services operate under these high level abstractions we more commonly work with today, which I feel is the kind of knowledge you need to write efficent communication stratergies in a world where 100's of transactions a second is common.
                </p>
                <p>
                    My <i>motivations</i> for coding back then were pure, I continued pursuing my interest in understanding how web pages moved without input from me, and would <i>test</i> my knowledge by trying to improve my own way of life, one that involved being actively apart of the <i>Quake1 Team Fortress</i> community and <i>downloading</i> as much DivX as I could get my hands on.
                </p>
                <p>
                    <i>TF</I> revolved around teams of people that would play clan wars against each other and I used an early version of <i>Java Servlets</i> to create a website that would configure and <i>interact</i> with the TF server engine using <i>UDP packets</i>; that I initially sniffed to <i>decode the language</i>. Half way through the project I started to realise the potential benefits of this <i>new platform</i>. Outside of quickly setting up passwords and maps, I was able to read the scoreboard and create a <i>visual representations of what the players were dressed in </i>, their individual scores and ability to </i>send messages into the game</i> that all the players could see.
                </p>
                <p>
                    My other hobby was <i>collecting</i> DivX. I was so enthusiastic at the idea of what was once needing a video tape, could now fit into the palm of my hand many times over. On this quest to download every single rip ever released, I learnt how to <i>exploit vulnerabilities</i> in other peoples software, giving me a fine toothed <i>knowledge of security</i> that I posses today. I furthered my understanding by reading through security announcements and <i>created tools</i> which would were <i>un-dectable</i> and able exploit these holes; allowing me to install ftp servers on unsuspecting servers to store movies on. These tools would <i>scan networks</i> and <i>automatically install backdoors</i>, using a technique I <i>pioneered</i> which involved placing hidden pages in legitimate websites that would often survive cleans and upgrades even people had completely whipped their boxes and started again.
                </p>
                <p>
                    At 22, I started working with Apt Buisness Solutions as a contractor. The job was a junior C# programmer, even though I had <i>never coded in C#</i> before. I had never even heard of it as I was stuck in the open-source world then, but after reading some interesting articles on its goals I thought I would like its power                            At 22, I started working with Apt Buisness Solutions as a contractor. The job was a junior C# programmer, even though I had <i>never coded in C#</i> before. I had never even heard of it as I was stuck in the open-source world then, but after reading some interesting articles on its goals I thought I would like its <i>power</i> and dived head first in. At the <i>end of my first month</i> I delivered a web application / forum system used by people around Defence to collaborate on ideas and request new features to NetMAARS.

                </p>
                <p>
                    I grew through many years of challenging work at Apt on a variety of platforms and systems, which is also where I was introduced to <i>multi-threaded applications</i>. I rewrote the logic of an application <i>called NetMAARS</i> to utilise the new servers that had just came in on an upgrade. These 8 core servers turned into 24 core, 120gb ram blades by the end of my tenure, that would thrash SQL server to the point of being disc bound for the majority of its life. In the last year though, with the dissention of SSD, NetMAARS gained an additional <i>90% performance</i>, which translated into <i>8 hours being whipped off processing times</i>. My <i>code was efficient, maintainable, and  scaled to life-spans</i> much longer than most operating systems these days.
                </p>
                <p>
                    A few years ago I got into <i>UX</i>, became religious about <i>Agile</i>, had my integration issues solved with <i>CI/CD</i> and warmed to the <i>phycology of how as people we perceive software</i>. <i>MVVM</i> and Silverlight allowed me to really show off the potentials of what internet enabled software could provide. I started developing aync <i>UIs</i>, using <i>RX/Observables</i> to build user interface logic that would <i>fluently</i> map the complex states of <i>user pathways</i> to VM code. No ifs and thens, just straight logic pipes that could be <i>monitored</i> and <i>filtered</i> at will.
                </p>
                <p>
                    I saw another <i>shift in my perception</i> of thinking. My ideas were endless but my audience confined, browser compatibility hampered me but I didn’t want to consider the pain in building and maintain JavaScript based front-ends. <i>I’m not the first</i> one to make this argument but the extra stress in maintaining extra languages was also going to <i>increase costs</i> in the long run. I said I would not touch them until either I can write them in C# (that would then be <i>compiled into JS</i>), or there were <i>frameworks</i> available to create cohesive MVVM/MVC style applications, because web applications shouldnt be about doing, they should be about <i>innovating</i>! So imagine my <i>curiosity</i> when, after travelling world for a year, my <i>wishes actually came true!</i>
                </p>

            </section>
        </div>

        </div>
    </div>
</div>
